[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
elasticsearch = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[dev-packages]
flask-testing = "*"
black = "*"
better-exceptions = "*"
coverage = "*"

[requires]
python_version = "3.6"
