amqp==2.3.2
appdirs==1.4.3
attrs==18.1.0
better-exceptions==0.2.1
billiard==3.5.0.4
black==18.6b4
celery==4.2.1
click==6.7
coverage==4.5.1
elasticsearch==6.3.0
Flask==1.0.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
psycopg2==2.7.5
pytz==2018.5
SQLAlchemy==1.2.10
toml==0.9.4
urllib3==1.23
vine==1.1.4
Werkzeug==0.14.1
